
:root {
    /* Light font colors */
    --light-primary-color: #1d1d1d;
    --light-secondary-color: #bd589b;
    --light-tertiary-color: #f8e1f1;
    --puding-pink: #e97cc5;
    --link-color: #5484ec;

    /* Dark font colors */
    --dark-primary-color: #e7e7e7;
    --dark-secondary-color: #50484c;
    --dark-tertiary-color: #362d33;

}


/* Navigation bar */

div.sticky {
    z-index: 15;

    position: sticky;
    top: 0;
    width: 90%;
    left: 40%;
    background-color: var(--puding-pink);
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

div.logo {
  top: 0;
  left: 0;
}

div.logo:hover {
    opacity: .6;
}

div.flex {
    top: 0.9%;
    position: sticky;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: inline-start;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #111111;
    background-color: #fff;
    border-radius: 10px;
}

/* Main body */

#pink p {
    width: 95%;
    height: 450px;
    background-color: rgb(255, 161, 208);
    border-radius: 16px;
    padding: 10px 10px 10px 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: var(--light-tertiary-color);
}

#puddinpink {
    height: 90px;
    width: 90px;
    object-fit: contain;
    border-radius: 50%;
}

.main {
    margin: 40% 0% 0% 20%;
    display: flex;
    column-gap: 30px;
}

.sidebar .content-wrapper div {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fff, var(--puding-pink));
    margin-bottom: 20px;
}


.main-body .content-wrapper div {
    width: 600px;
    height: 550px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fff, var(--link-color));
    margin-bottom: 20px;
}


/* The trigger list/spoiler */
.main_trigger {
    margin: 15%;
    display: flex;
}


.main_trigger .content-wrapper_trigger div {
    /* z-index: -6; */
    position: relative;

    font-size: 26px;
    text-align: center;
    text-align-last: justify;
    padding: 40px;

    width: 660px;
    height: 150px;
    color: #111111;
    background: #111111;
    margin-bottom: 27px;
}

.main_trigger .content-wrapper_trigger div:hover {
    background: linear-gradient(45deg, #d6d4d4, #111111);
}

/* The title of each spoiler*/

.main_trigger .spoiler_title div {
    /* z-index: -2; */

    pointer-events: none; /*makes it so the mouse dgaf about the box that is already there~*/
    font-size: 60px;
    color: #3f1616;
    font-weight: bold;
    width: 660px; /*these dimensions need to  be the same as the spoiler box.*/
    height: 150px;

    margin-bottom: 27px;
    padding: 40px;

    position: relative;
    top: -78px;
    left: -800px;
    right: 70px;
}

/* Mobile */
@media (max-width: 767px) {
    /* Adjusted mobile layout */
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Tablet layout */ 
  }
  
  /* Desktop */  
  @media (min-width: 1024px) {
    /* Desktop layout */
  }