
#pink {
    background-color: hotpink;
    border-radius: 16px;
    /* text-align: center; */
    /* width: max-content; */
    padding: 10px 20px 10px 20px;
    margin: auto;
}

#pudding {
    display: flex;
    justify-content: center;
    align-items: center;
}