
:root {
    /* Light font colors */
    --light-primary-color: #1d1d1d;
    --light-secondary-color: #bd589b;
    --light-tertiary-color: #f8e1f1;
    --puding-pink: #e97cc5;
    --link-color: #5484ec;

    /* Dark font colors */
    --dark-primary-color: #e7e7e7;
    --dark-secondary-color: #50484c;
    --dark-tertiary-color: #362d33;

}


/* MARK: NAV BAR */
/* Navigation bar */

div.sticky {
    z-index: 3;

    position: sticky;
    top: 0;
    width: 90%;
    left: 40%;
    background-color: var(--puding-pink);
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

div.logo {
  top: 0;
  left: 0;
}

div.logo:hover {
    opacity: .6;
}

div.flex {
    z-index: 3;

    top: 0.9%;
    position: sticky;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: inline-start;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #111111;
    background-color: #fff;
    border-radius: 10px;
}

#puddinpink {
    height: 90px;
    width: 90px;
    object-fit: contain;
    border-radius: 50%;
}


/* MARK:INDEX */
/* Main body */

#pink p {
    width: 95%;
    height: 450px;
    background-color: rgb(255, 161, 208);
    border-radius: 16px;
    padding: 10px 10px 10px 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: var(--light-tertiary-color);
}


.main {
    margin: 40% 0% 0% 20%;
    display: flex;
    column-gap: 30px;
}

.sidebar .content-wrapper div {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fff, var(--puding-pink));
    margin-bottom: 20px;
}


.main-body .content-wrapper div {
    width: 600px;
    height: 550px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fff, var(--link-color));
    margin-bottom: 20px;
}

/* MARK:CHAPEAU GAME

/* The page for L'Homme Sous Le Chapeau */

.page_intro {
    background: #000000;
    color: #e7e7e7;
    padding: 7px;
    margin: 12px;
    font-size: 70px;
    text-align: center;
}

.page_paragraph {
    background: #000000;
    color: #e7e7e7;
    padding: 7px;
    margin: 12px;
    font-size: 20px;
    text-align: end;
}

.content_chapeau {
    margin: 12px;
    float: left;

    width: 20%;
    height: 780px;

    background-color: #000000;
}

.content_chapeau div {
    color: #e7e7e7;
}

.homme {
    margin: 12px;
    float: left;

    width: 56%;
    height: 277px;

    background-color: #000000;
}

.homme div {
    color: #e7e7e7;
}

.sacrifice {
    margin: 12px;
    float: left;

    width: 56%;
    height: 480px;

    background-color: #000000;
}

.sacrifice div {
    color: #e7e7e7;
}

.spouse {
    margin: 12px;
    float: right;

    width: 20%;
    height: 780px;

    background-color: #000000;
}

.spouse div {
    color: #e7e7e7;
}

/* MARK:TRIGGER WARNINGS

/* The page for the LHSLC trigger warnings */

#trigger_body {
   background-image:url(rita-burza-unsplash.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: cover;
}

/* The small text paragraph */
.trigger_paragraph {
    float: left;
    font-size: 20px;
    text-align: center;

    color: #fff;
    background-color: #000000;

    width: 420px;
    height: 130px;
    margin-top: 90px;
    margin-left: 30px;
    padding: 10px;
    line-height: 1.3;
}

.fancy_letter {
    color: #331dff;
    font-size: 50px;
    letter-spacing: -3px;
}

/* The trigger title list */
.right_trig {
    float: left;
    width: 40px;
    margin-left: 270px;
    margin-top: 45px;
}

.trigger_title div {
    z-index: 2;
    position: relative; /*z-index NEEDS a position or it does not work*/

    margin: 2px;
    margin-bottom: 170px;

    pointer-events: none; /*makes it so the mouse dgaf about the box that is already there~*/
    font-size: 60px;
    font-weight: bold;

    color: #ffffff;
    width: 860px;
    height: 150px;
}


/* The trigger spoiler list */
.left_trig {
    margin-left: 700px;
}

.trigger_text div {
    z-index: 1;
    position: relative;

    font-size: 26px;
    text-align: center;
    text-align-last: justify;

    padding: 40px;
    margin-top: 90px;
    margin-bottom: 36px;

    width: 860px;
    height: 150px;
    color: #000000af;
    background-color: #000000c4;
    backdrop-filter: blur(30px);
}

.trigger_text span {
    filter: blur(6px);
}


/* The only way I managed to make the text blur and still have the rest unblurred */
/* There is potentially a better way but it works! */
body:has(#trig_1:hover) #trig_01 {
    filter: blur(0px);
}

body:has(#trig_2:hover) #trig_02 {
    filter: blur(0px);
}

body:has(#trig_3:hover) #trig_03 {
    filter: blur(0px);
}

body:has(#trig_4:hover) #trig_04 {
    filter: blur(0px);
}

.trigger_text div:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    background: linear-gradient(89deg, #eeeff115, #070707);
    background-size: 180% 180%;
}


















/* MARK:MEDIA QUERIES */
/* Mobile */
@media screen and (max-width: 767px) {

    /* MARK:NAV BAR */
    div.sticky {
        z-index: 3;
    
        position: sticky;
        top: 0;
        width: 85%;
        left: 40%;
        background-color: #70e798;
    /* Adjusted mobile layout */
    }

    .content_chapeau {
        margin: 1.6%;

        width: 18%;
        height: 572px;
    }

    .homme {
        margin: 1.6%;
    
        width: 54%;
        height: 280px;
    }
    
    .sacrifice {
        margin: 1.6%;
    
        width: 54%;
        height: 280px;
    }
    
    .spouse {
        margin: 1.6%;

        width: 18%;
        height: 572px;
    }
}
  
/* Tablet layout */ 
@media screen and (min-width: 768px) and (max-width: 1023px) {
    

    /* MARK:NAV BAR */
    div.sticky {
        z-index: 3;
    
        position: sticky;
        top: 0;
        width: 85%;
        left: 40%;
        background-color: #b41919;
        padding: 20px;
        font-size: 20px;
        border-radius: 10px;
    }
    
    #puddinpink {
        height: 70px;
        width: 70px;
        object-fit: contain;
        border-radius: 50%;
        padding: 6%;
    }
    
    
    div.flex {
        z-index: 3;
    
        top: 0.9%;
        position: sticky;
        display: flex;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a {
        padding: 14px 26px;
    }
    
    /* MARK:CHAPEAU GAME */
    .page_intro {
        margin: 6px;
    }
    
    .page_paragraph {
        margin: 6px;
    }

    .content_chapeau {
        margin: 0.8%;

        width: 17%;
        height: 572px;
    }

    .homme {
        margin: 0.8%;
    
        width: 61%;
        height: 280px;
    }
    
    .sacrifice {
        margin: 0.8%;
    
        width: 61%;
        height: 280px;
    }
    
    .spouse {
        margin: 0.8%;

        width: 17%;
        height: 572px;
    }


}

/* MARK:Desktop */  
@media screen and (min-width: 1024px) and (max-width: 1850px) {
    /* Desktop layout */
    div.sticky {
        z-index: 3;

        position: sticky;
        top: 0;
        width: 91%;
        left: 40%;
        background-color: #5484ec;
        padding: 20px;
        font-size: 25px;
        border-radius: 10px;
    }


    #puddinpink {
        height: 110px;
        width: 110px;
        object-fit: contain;
        border-radius: 50%;
    }
    
    div.flex {
        z-index: 3;
    
        top: 0.9%;
        position: sticky;
        display: flex;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a {
        padding: 14px 26px;
    }
    
    /* MARK:CHAPEAU GAME */
    .page_intro {
        margin: 6px;
    }
    
    .page_paragraph {
        margin: 6px;
    }

    .content_chapeau {
        margin: 0.3%;
        /* margin-left: 50px; */

        width: 21%;
        height: 772px;
    }

    .homme {
        margin: 0.3%;
    
        width: 56%;
        height: 360px;
    }
    
    .sacrifice {
        margin: 0.3%;
    
        width: 56%;
        height: 400px;
    }
    
    .spouse {
        margin: 0.3%;
    
        width: 21%;
        height: 772px;
    
        background-color: #161616;
    }

}